{% extends "layout.html" %}

{% block title %}DWTS Contestant Query{% endblock %}

{% block subtitle %}Contestant Archive{% endblock %}

{% block content %}
<div class="search-container">
    <div class="input-wrapper">
        <input type="text" id="search-input" placeholder="Search for a star..." autocomplete="off">
        <div id="autocomplete-list" class="autocomplete-items"></div>
    </div>
    <button id="search-btn">Search</button>
</div>

<div id="results-container"></div>
{% endblock %}